:root {
  font-family: Roboto, sans-serif !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Roboto, sans-serif !important;
}

body {
  margin: 0;
  color: black;;
  background-color: rgb(248, 249, 250) !important;
  width: 100%;
  font-family: Roboto, sans-serif !important;
  box-sizing: border-box;
padding: 0;
font-size: 1.12vw;
    line-height: 1.5;
}
p{
  padding: 0px;
  margin: 0px;
  text-align: justify;
  line-height: 1.5;
}
.bg-grey{
  background-color: #EEEEEE !important;
}
.fw-800{
  font-weight: 800;
}
.fw-700{
  font-weight: 700;
}
.fw-600{
  font-weight: 600;
}
.left-container{
  width: 78%;
}
.right-container{
  width: 22%;
}
.custom-card{
  box-shadow: rgba(0, 0, 0, 0.075);
  background-color: white !important;
  border: none;
}

.section-heading-sub {
  font-size: 1.4vw;
  margin-bottom: 1vw;
  font-weight: 600;
}

/* Navbar */
.navbar{
  width: 100% !important;
padding: 0 !important;
}
.nav-item a{
  height: 100% !important;
  color: black !important;
}
.navbar-nav {
  display: flex;
  align-items: center;

}
.navbar-toggler{
  padding: 0 !important;
}
.nav-link.active {
  background-color: #1c3059;;
  height: 100%;
}

.text-white{
  color: white;
}


/* rightsidebar */
.og-block  {

  font-size: 1.01vw;
  color: #fff;
  cursor: pointer;
  padding: .5vw 0 !important;
  background-color: #000;
  border-bottom-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
}
.og-block .og-1{
  border-right: .1vw solid #dbe4e9;
  /* background-color: #000;
  */

}
.og-block .og-2{
  /* border-right: .1vw solid #dbe4e9;
  background-color: #000;
  border-bottom-right-radius: 1vw; */

}

button{
  animation: 3s infinite Gradient;
  display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    text-shadow: 0 3px 6px #1c3059;
    background: linear-gradient(-45deg, #0370b7, #0370b7, #1c3059, #0370b7);
    color: white;
    padding: .3vw 1.2vw;
    font-size: 16px;
    border-radius: 3px !important;
}
.form-heading {
  font-size: 1.15vw;
}
.font-weight-bold {
  font-weight: 700 !important;
}
 .custom-input{
  border: none !important;
  border-bottom: 1px solid rgb(206, 212, 218) !important;
  padding: .375rem .75rem;
  line-height: 1.5;
 }

 /*Aside  */
.info-box {
  position: absolute;
  top: 0;
  left: 8px;
  z-index: 9;
  margin-top: 4.6vw;
  padding-bottom: 1.5vw;
  display: inline-block;
  width: 22vw;
  background-color: #fff;
  border-radius: 8px;
  color: #fff;
  border: 1px solid #eee;
  text-align: center;
}
 .pro-status {
  padding: 10px;
  font-size: 1vw;
  text-transform: uppercase;
  text-shadow: none;
  color: #000;
  border-bottom: 1px solid #1c3059;
  width: 100%;
  margin-bottom: 0;
}
.pro-title {
  display: block;
  padding: 1vw .8vw .3vw;
  font-size: 1.8vw;
  line-height: 2vw;
  text-transform: capitalize;
  color: #212529;
  text-align: center;
  font-weight: 600;
}
.pro-add{
  font-size: .8vw;
  line-height: 1.4vw;
  color: #888;
}
.pro-dev{
  font-size: 1vw;
        line-height: 1.2vw;
        color: #888;
}
.aside-grey-card{
  width: 95%;
  background-color: #eee !important;
    text-align: start ;
    font-size: 1.05vw !important;
    color: #000;
    padding: 10px 40px;
}
.heading2 {
  font-weight: 400;
  margin: 0 !important;
}
.heading1 {
  font-weight: 700;
  margin: 0 !important;
}
.aside-blue-container{
  width: 95%;
  background: linear-gradient(-45deg, #0370b7, #0370b7, #1c3059, #0370b7);
    text-align: start ;
    font-size: 1.05vw !important;
    color: #000;
    padding: 10px;
}
.offer-text {
  display: block;
  font-size: 1vw !important;
  color: #fff;
  border: 2px dashed #fff;
  padding: 10px 5px;
text-align: center;
}
.offer-text p{
  margin: 0 !important;
}
.pro-tag-line {
  display: block;
  padding: .1vw .8vw;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1.4vw;
  color: black;
  text-align: center;
  margin-top: 20px;
}
.pro-price {
  padding: .1vw .8vw .3vw;
  line-height: 28px;
  margin-bottom: 15px;
  color: black;
}
.aside-price{
  font-weight: 800;
  font-size: 1.8vw;
}
@keyframes Gradient {
  0%, 100% {
      background-position: 0 50%
  }

  50% {
      background-position: 100% 50%
  }
}


/* hero */
.carousel-item img {
  height: 83vh;
  width: 81vw;
  /* margin-top: 11px; */
}

/* About us */
.section {
  margin: 1vw 0;
  position: relative;
  overflow: hidden;
  padding: 30px 40px;
}
.section p {
  margin-bottom: .6vw;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}
.section-heading {
  font-size: 2.5vw;
}
.color-primary, .content-clr {
  color: #1c3059;
}

/* Services */
.services-title {
  color:  #1c3059;;
  font-size: 26px;
  letter-spacing: 0;
  text-orientation: mixed;
}
.at-property-dis {
  padding: .5vw;
  text-align: center;
}
.at-property-img .at-property-overlayer {
  position: absolute;
  bottom: -100%;
  z-index: 111;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  transition: .5s ease-in-out;
}
.effetGradient{
  text-shadow: 0 3px 6px #1c3059;
  background-color: #1c3059;
  background: linear-gradient(-45deg, #1c3059, #0370b7, #1c3059, #0370b7);
  background-size: 400% 400%;
  -webkit-animation: 3s infinite Gradient;
  -moz-animation: 3s infinite Gradient;
  animation: 3s infinite Gradient;
  color: white;
  border: none;
}

/* FLoorPlans */
.head {
  color: #1c3059;
  font-size: 26px;
  letter-spacing: 0;
  text-orientation: mixed;
}
h2 {
  margin-bottom: 1.4rem !important;
  font-weight: 500;
    line-height: 1.2;
}
.section-heading-sub {
  font-size: 1.4vw;
  margin-bottom: 1vw;
  font-weight: 600;
}
.master-plan {
  display: block;
  max-width: 25vw;
  height: 18.5vw;
  margin: 0 auto;
}
.border {
  border: 1px solid #dee2e6 !important;
}
.at-property-img {
  position: relative;
  overflow: hidden;
}
.floor-plan-img {
  width: 100%;
  height: 15vw;
}

/* Gallery */

.gallery-thumb {
  width: 100%;
  height: auto;
  border-radius: 0.9vw;
  transition: .5s;
  border-radius: 3px;
}
.gallery-thumb:hover {
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

/* Vitual tour */
.vsv-img {
  width: 100%;
  max-height: 450px;
  display: block;
  margin: 0 auto;
}
.at-property-img {
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .left-container{
    width: 100%;
  }
  .right-container{
  display: none;
  }
}

/* Gallery */
@media only screen and (min-width: 575px) {
  .gallery-thumb {
      height: auto;
      border-radius: 0.9vw;
  }
}